*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

html,body{
  height:100%;
  width:100%;
}
button{
  background-color: red;
}
button:active{
  background-color: rgb(217, 196, 255);
  color:blueviolet
}
button:hover{
  background-color: rgb(249, 120, 206);
  text-transform: uppercase;
}
div>button{
  padding: 10px;
  margin: 10px;
  
}