* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}
button{
  margin: 10px;
  padding:10px 20px;
  gap: 10;
  justify-content: center;
  background-color: red;
  text-shadow: 1px;

}
h1{
  background-color: gray;
  margin: 10px;
  padding:10px 50px;
  width: fit-content;
  font-size: 100px;
  border-radius: 10px;

}
h2{
  margin: 10px;
  /* padding:10px 50px; */
}