@import "tailwindcss";

h1{
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%,-45%);
    font-weight: 600;
    text-decoration: underline;
    white-space: nowrap;
    text-transform: capitalize;
}